.menu-cart-container {
  display: grid;
  grid-template-columns: 2 / 1;
}

.menu-container {
  grid-column: 1;
}

.cart-container {
  grid-column: 2;
  width: 400px;
}

h1 {
  margin: auto;
  text-align: center;
}

table {
  border: 1px;
  border-collapse: collapse;
  margin: auto;
}

td {
  border: 1px solid black;
  padding: 10px;
}

.menu-item-photo {
  height: 100px;
}

.price {
  text-align: right;
}

.checkout-button {
  float: right;
  margin-top: 10px;
  margin-right: 50px;
}

.spinner {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
